.dashoard .content .status_blocks {
    height: 150px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dashoard .graphs {
    position: relative;
    height: 350px;
    width: 100%;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
}

.dashoard .borrowrate {
    width: 100%;
    width: 60%;
    position: relative;

    background-color: var(--dark-color);
    border-color: aliceblue;
    font-family: "Pixelify Sans", sans-serif;
    padding: 10px;
    border-radius: 15px;
}

.dashoard .borrowrate canvas{
    font-family: "Pixelify Sans", sans-serif;

}

.dashoard .pie_container {
    position: relative;
    height: 100%;
    width: 35%;
    background: var(--blue-grad);
    border-radius: 15px;
}

.dashoard .pie_container h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
}

.dashoard .pie_container p{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
}

.dashoard .popular_genre_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 80%; /* Ensure it takes the full width available */
    max-width:160%; /* Optional: Add a maximum width for better control */
    padding: 5px;
    box-sizing: border-box; 
    padding: 5%;
    border: none;

}

.dashoard .popular_genre_container canvas {
    max-width: 120%;
    /* Ensure the chart resizes within the container */
    border: none;
    
    transform: scale(1);
}

.dashoard .user_stats{
    width: 100%;
    margin-top: 50px;
}

.toprated{
    height: 600px;
    width: 100%;
    padding: 25px 15px;
    margin-top: 50px;
}


.toprated > div {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Align items to the left */
    margin-top: 50px;
    overflow-x: auto; /* Allows horizontal scroll */
    padding-bottom: 10px; /* Optional: Adds space for scroll */
}

.toprated > div .book_card {
    position: relative;
    height: 100%;
    width: 30%; /* Fixed width for each item */
    margin-right: 20px; /* Adds space between items */
}

.toprated>div .book_card .img_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    z-index: 99999;
}

.toprated>div .book_card .img_container img{
    height: 100%;
    object-fit: contain;
    z-index: 99999;
}

.toprated>div .book_card .info{
    background: var(--white-color);
    padding: 15% 5% 5% 5%;
    z-index: -1;

    transform: translateY(-15%);
    border-radius: 15px;
}

.toprated>div .book_card .info h1{
    font-size: 20px;
}

.toprated>div .book_card .info h2{
    font-size: 20px;
}